body{
  background-color: #610345;
}
h1 {
  text-align: center;
  background-color: #E3B505;
  color: #95190C;
}

p{
  text-align: center;
  color: #E3B505;
}

img {
  margin-right: 550px;
  margin-left: 550px;
}
